body {
  background-color: #1f1f1f;
  color: #808080;
  font-family: 'Trirong', georgia, times, serif;
  font-weight: 200;
}

p {
  font-size: 0.8em;
}

a {
  color: #808080;
}

h1 {
  font-size: 1.2em;
}

h2 {
  color: #caad2d;
  font-size: 1.4em;
}

p {
  margin-top: 10px;
}

.regionBG {
  fill: #1c1c1c;
  stroke: none;
}

.episodeSub {
  font-size: 0.em;
}

.episodeLines line{
  stroke-width: 1;
  stroke: #292929;
  stroke: #808080;
}

.episodeLines .epiNumber{
  font-size: 0.6em;
  fill: #808080;
}

.episodeLines .epiTitle{
  font-size: 0.8em;
  fill: #808080;
}

.episodeLines .epiTravel{
  font-size: 0.7em;
  fill: #808080;
}

.regionLabels{
  font-size: 0.7em;
  fill: #808080;
}

.charName{
  font-size: 0.7em;
  fill: #808080;
  visibility: hidden;
}

.nameBg{
  fill: #1c1c1c;
  visibility: hidden;
}

.open .charName{
  visibility: visible;
}

.open .nameBg{
  visibility: visible;
}

#container{
  position: relative;
  width: 100%;
}

#chart {
	width: 80%;
	height: 100vh;
	position: absolute;
	top: 0px;
}

#chart svg {
  width: 100%;
  height: 100%;
}

#sections{
  width: 20%;
  margin-left: 80%;
}

#sections > div{
  width: 90%;
  margin-left: 5%;
  position: relative;
}

.introContent {
  text-align: center;
}

.introContent img{
  max-width: 100%;
  margin-top: 30px;
}


.addedContent {
  height: 60vh;
  opacity: .2;
}


#sections > div.graph-scroll-active{
  opacity: 1;
}

#sections > div:last-child{
  margin-bottom: 30vh;
}

.graph-scroll-fixed #chart{
  position: fixed;
  top: 0px;
}

.graph-scroll-below #chart{
  position: fixed;
  top: 0px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 1200px){  
  h1 {
    font-size: 1.4em;
  }
  p {
    font-size: 1em;
  }
  h2 {
    font-size: 1.8em;
  }

}
