<!DOCTYPE html>
<html lang="en-us" ng-app="andybarefoot">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />		
		<title>Andy Barefoot</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="jscript/imagesloaded.pkgd.min.js"></script>
		<script src="jscript/masonry.pkgd.min.js"></script>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main-r.css">
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="jscript/angular-masonry.min.js"></script>
        <script src="jscript/andybarefoot.js"></script>
		<script>
			document.createElement('header');
			jQuery(document).ready(function( $ ) {
				$(function(){
					$(".projectTitle").click(function(){
						$(this).siblings(".projectDesc").slideToggle();
					});
				});
				$(function(){
					$(".highlightTitle").click(function(){
						$(this).siblings(".projectDesc").slideToggle();
					});
				});
			});
		</script>
    </head>
    <body>
		<div id="contact"><!-- contact -->
			<header>
				<hgroup>
					<img id="portrait" src="images/andy-barefoot-portrait.png" alt="Andy Barefoot - Digital Professional" />
					<div id="summary">
						<h1><a href="/">Andy Barefoot</a></h1>		
						<p>Digital professional with over 15 years experience of programming, management and digital strategy at Cond&eacute; Nast and adidas.</p>
					</div>
					<ul>
						<li><a href="https://www.linkedin.com/in/andybarefoot/" target="_blank"><img src="images/icons/png64/linkedin.png" /></a></li>
						<li><a href="mailto:andy@andybarefoot.com"><img src="images/icons/png64/email.png" /></a></li>
						<li><a href="http://instagram.com/andybarefoot" target="_blank"><img src="images/icons/png64/instagram.png" /></a></li>
						<li><a href="http://twitter.com/andybarefoot" target="_blank"><img src="images/icons/png64/twitter.png" /></a></li>
						<li><a href="http://www.facebook.com/profile.php?id=729980577" target="_blank"><img src="images/icons/png64/facebook.png" /></a></li>
					</ul>
				</hgroup>
			</header>
		</div><!-- contact -->
		<div id="projects">
			<div id="projectTitle" class="sectionTitle">
				<h2>Personal Projects</h2>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>MP CoMParison</h3></div>
				<div class="projectDesc">
					<a href="/politics/mpcompare/" target="mp-compare"><img src="images/mp-compare.png" /></a>
					<p>The site <a href="http://www.publicwhip.org.uk/" target="_whip">the Public Whip</a> aggregates the data on how MPs in the UK parliament vote. They then group this by similar votes to provide an insight into how much each MP supports a particular policy.</p>
					<p>However at the moment the site does not provide a tool to enable users to easily compare MPs and see their relative support for each issue.</p>
					<p>I made a <a href="/politics/mpcompare/" target="mp-compare">small site</a> that scrapes the data from <a href="http://www.publicwhip.org.uk/" target="_whip">the Public Whip</a> and allows the user to compare support for related policies across groups of MPs. The tool also allows the user to select any policy or MP and add them to the comparison.</p>
					<p>The site was built using PHP to scrape the data and serve via API, and AngularJS to provide the interactive front-end functionality.</p>
					<p><a href="/politics/mpcompare/" target="mp-compare">CoMParison - Compare MPs on their support for key policies.</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Social Feed</h3></div>
				<div class="projectDesc">
					<a href="https://medium.com/@andybarefoot/adding-instagram-photos-to-my-site-with-angularjs-a3eb2a436746#.m70yzvvdb" target="medium-instagram"><img src="images/medium-instagram.png" /></a>
					<p>I updated the implementation of the social feed on this site to use AngularJS.</p>
					<p>Due to limitations with the Instagram API I scraped my content directly from the Instagram site and wrote an API in PHP to allow the content to be pulled into the site.</p>
					<p>I detailed the approach in a post on <a href="https://medium.com/@andybarefoot/adding-instagram-photos-to-my-site-with-angularjs-a3eb2a436746#.m70yzvvdb" target="medium-instagram">Medium</a>.</p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Ski VR</h3></div>
				<div class="projectDesc">
					<a href="https://play.google.com/store/apps/details?id=com.GunterGames.SkiVR" target="skivr"><img src="images/ski-vr.png" /></a>
					<p>Ski VR is a quick VR demo built for Google Cardboard but also playable without a headset.</p>
					<p>Slide gracefully down the mountain between trees and alpine chalets in a Virtual Reality winter wonderland.</p>
					<p>Ski VR was built in <a href="https://unity3d.com/" target="_unity">Unity</a> with the Google Cardboard SDK and uses 3rd party graphical assets.</p>
					<p><a href="https://play.google.com/store/apps/details?id=com.GunterGames.SkiVR" target="skivr">Ski VR on Google Play.</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Color Hex</h3></div>
				<div class="projectDesc">
					<a href="http://www.guntergames.com/colorhex" target="colorhex"><img src="images/color-hex.jpg" /></a>
					<p>Color Hex is a mobile puzzle game for Android and iOS built and published uing the Unity platform.</p>
					<p>The player must try and match patterns by mixing colours together on a hexagonal grid. As the patterns get more complicated the puzzle becomes more difficult.</p>
					<p>There are 2 play modes with a combined total of 222 levels.</p>
					<p>Color Hex was built in <a href="https://unity3d.com/" target="_unity">Unity</a> which supports exporting to both iOS and Android platforms.</p>
					<p><a href="https://play.google.com/store/apps/details?id=com.guntergames.colourhexnew" target="colorhexplay">Color Hex on Google Play.</a><br />
					<a href="https://itunes.apple.com/gb/app/id1093790722" target="colorhexitunes">Super Color Hex on iTunes.</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Super Dice</h3></div>
				<div class="projectDesc">
					<a href="http://www.guntergames.com/superdice" target="sneakers"><img src="images/super-dice.jpg" /></a>
					<p>My first attempt at using the <a href="https://unity3d.com/" target="_unity">Unity</a> platform to create a mobile game was a mobile version of the dice game Farkle.</p>
					<p><a href="http://www.guntergames.com/superdice" target="sneakers">Super Dice</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>All The Sneakers</h3></div>
				<div class="projectDesc">
					<a href="http://www.allthesneakers.com/" target="sneakers"><img src="images/all-the-sneakers.jpg" /></a>
					<p>In-progress search engine of sneakers collating and comparing sneakers from a number of eCommerce sites.</p>
					<p>Regularly spiders a number of sites and compares prices where identical sneakers appear on multiple sites.</p>
					<p>The spiders and APIs are built in PHP, the database in MySql and the front-end uses <a href="http://sass-lang.com/" target="_sass">SASS</a> for the CSS. 
					<p><a href="http://www.allthesneakers.com/" target="sneakers">All The Sneakers</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Winstagram</h3></div>
				<div class="projectDesc">
					<a href="winstagram" target="winstagram" ><img src="images/winstagram.jpg" /></a>
					<p>More and more people are posting photos on their social web blogs. But most of them are not very good photographers. Or have poorly made cameras. The colours come out funny, the edges are all crackly and often some of the image is out of focus.</p>
					<p>I have developed an app to restore these poor quality photographs: <a href="winstagram" target="winstagram" >Winstagram!</a></p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>We can't go on like this</h3></div>
				<div class="projectDesc">
					<a href="/politics/cameron.php" target="cameron"><img src="images/cameron.jpg" /></a>
					<p>Good old David Cameron. He's so suave yet so caring. he just wants the best for the country. He says so in his lovely new <a href="http://www.flickr.com/photos/conservatives/4244583668/sizes/l/in/photostream/" target="flickr-tory">poster campaign</a> (NSFDuring lunch).</p>
					<p>Deface David's poster with your own words with <a href="/politics/cameron.php" target="cameron">"Make your own David Cameron poster"</a>.</p>
					<p>Go on, <a href="/politics/cameron.php" target="_blank">have a go</a>. You know you want to. Make it look like he is saying rude words. Hurr hurr hurr!</p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Malcolm Tucker</h3></div>
				<div class="projectDesc">
					<a href="/politics/tucker.php" target="tucker"><img src="images/malcolm-tucker.jpg" /></a>
					<p>Combines the <a href="/politics/cameron.php" target="cameron">David Cameron poster generator</a> with the foul-mouthed tirades of Malcolm Tucker, <a href="http://www.youtube.com/watch?v=LugJd6uGJqI" target="youtube-tucker">sweary spin doctor</a> from The Thick of It.</p>
					<p>A random choice of blue bon-mot is substituted every time you click the "Tuckerise" button so <a href="http://www.andybarefoot.com/politics/tucker.php" target="tucker">click away</a>. However, be warned. He is a very very rude man and if you don't like naughty words you probably won't like this.</p>
				</div>
			</div>
			<div class="project">
				<div class="projectTitle"><h3>Invented by the English</h3></div>
				<div class="projectDesc">
					<a href="http://inventedbytheenglish.wordpress.com" target="english"><img src="images/invented.jpg" /></a>
					<p>If it was invented, it was probably invented by an Englishman.</p>
					<p>A retired blog detailing all the greatest inventions of the English.</p>
				</div>
			</div>
		</div><!-- projects -->
		<div id="highlights">
			<div id="highlightTitle" class="sectionTitle">
				<h2>Work Highlights</h2>
			</div>
			<div class="highlight">
				<div class="highlightTitle"><h3>WIRED Germany</h3></div>
				<div class="projectDesc">
					<a href="http://www.wired.de" target="wired"><img src="images/wired-germany.jpg" /></a>
					<p>I was Product Owner for the digital launch of WIRED magazine in Germany.</p>
					<p>WIRED Germany is the first Cond&eacute; Nast title to have a digital membership model with some content only visible to subscribers.</p>
					<p>We launched a responsive website with the emphasis on giving the long form in-depth articles the presentation they deserve.</p>
					<p><a href="http://www.wired.de" target="wired">WIRED Germany</a></p>
				</div>
			</div>
			<div class="highlight">
				<div class="highlightTitle"><h3>Cond&eacute; Nast Hackathon</h3></div>
				<div class="projectDesc">
					<a href="http://www.whatsnewinpublishing.co.uk/content/f%E2%80%99nito-winner-cond%C3%A9-nast-international-hackathon" target="fnito"><img src="images/conde-nast-fnito.jpg" /></a>
					<p>I took part in the first Cond&eacute; Nast International Hackathon joining with the "F&#8217;Nito" team to help them develop their cross-platform content concept.</p>
					<p>F&#8217;Nito enables the user to read or listen to an article on any of their devices seamlessly switching from text to audio and back and maintaining their place as they switch devices.</p>
					<p>F&#8217;Nito won the first prize at the hackathon.</p>
					<p><a href="http://www.whatsnewinpublishing.co.uk/content/f%E2%80%99nito-winner-cond%C3%A9-nast-international-hackathon" target="fnito">Cond&eacute; Nast Hackathon</a></p>
				</div>
			</div>
			<div class="highlight">
				<div class="highlightTitle"><h3>adidas.com</h3></div>
				<div class="projectDesc">
					<a href="http://www.adidas.co.uk" target="adidas"><img src="images/go-all-in.jpg" /></a>
					<p>As Director Digital Brand Platforms led the implementation of the adidas.com global redesign for the Global Marketing department.</p>
					<p>The site integrates a global CMS that supports each of the local markets as well as the global team.</p>
					<p><a href="http://www.adidas.co.uk" target="adidas">adidas</a></p>
				</div>
			</div>
			<div class="highlight">
				<div class="highlightTitle"><h3>adidas Go All In</h3></div>
				<div class="projectDesc">
					<a href="http://discover.adidas.co.uk/goallin/" target="goallin"><img src="images/go-all-in.jpg" /></a>
					<p>The adidas Go All In platform highlighted the breadth of the adidas brand across all sports as well as the Street and Style side of the business.</p>
					<p>I was the adidas person responsible for the technical implementation of the platform and CMS.</p>
					<p>The site was launched globally across over 40 markets.</p>
					<p><a href="http://discover.adidas.co.uk/goallin/" target="goallin">Go All In</a></p>
				</div>
			</div>
			<div class="highlight">
				<div class="highlightTitle"><h3>The Webby Awards</h3></div>
				<div class="projectDesc">
					<a href="http://webbyawards.com/winners/2009/web/site-features-and-design-categories/best-homewelcome-page/adidascom-homepage/" target="webby"><img src="images/webby.jpg" /></a>
					<p>The adidas.com redesigned home page won the "Web: Best Home/Welcome Page" at the Webby Awards 2009.</p>
					<p>I worked on the project from the adidas side with the agencies Molecular and de-construct.</p>
					<p><a href="http://webbyawards.com/winners/2009/web/site-features-and-design-categories/best-homewelcome-page/adidascom-homepage/" target="webby">The Webby Awards</a></p>
				</div>
			</div>
		</div><!-- highlights -->
		<div id="social" ng-controller="mainController">
			<div id="socialTitle" class="sectionTitle">
				<h2>Social Feed</h2>
			</div><!-- socialTitle -->
			<div masonry  preserve-order id="container">
				<div class="item masonry-brick" ng-repeat="instagram in instagrams">
					<div class="dateText">
						<a ng-href="{{userURLString(instagram.owner.id)}}" target="_blank"><img src="images/icons/png32/instagram.png" width="24" height="24" /></a>
						{{ userNameString(instagram.owner.id) }}{{ instagram.date * 1000 | date:'d MMMM yyyy' }}
					</div><!-- class: dateText -->
					<img ng-click="instagram.is_clicked = true" class="video-play" ng-if="instagram.is_video && !instagram.is_clicked" src="images/video-icon.png" />
					<img ng-src="{{ getImage(instagram.local_image) }}" alt="{{ instagram.caption }}" ng-show="!instagram.is_clicked" />
					<video ng-if="instagram.is_video && instagram.is_clicked" controls="controls" autoplay poster="{{ getImage(instagram.local_image) }}" name="Video Name" ng-src="{{ getVideo(instagram.local_video) }}"></video>
<!--					<video ng-show="instagram.is_video" controls><source ng-src="videos/instagram/inst-BF_8_n7G7v_.mp4" type="video/mp4"></video>-->
					<p>{{ instagram.caption }}</p>
				</div><!-- class: item -->
			</div><!-- container -->
			<div id="more" class="dateText" ng-show="showMoreSocial" ng-click="loadMoreSocial()">LOAD MORE SOCIAL FEED</div>
			<div id="all" class="dateText" ng-show="noMoreSocial">SOCIAL FEED FULLY LOADED</div>
		</div><!-- social -->
	</body>
</html>