body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-color: #E0E0E0;
	color: #063244;
}

a {
	color: #063244;
}

h1 {
	font-family: 'Fascinate', cursive;
	text-align: center;
	font-size: 5em;
	margin-bottom: 50px;
	color: #4f0906;
	width: 800px;
	margin: auto;
}

h2 {
	font-family: 'Fascinate', cursive;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #4f0906;
}

p {
	margin-top: 20px;
}

.inset > ul {
	list-style-image: url('cookie-12.png');	
	list-style-position: inside;
}

li {
	padding-top: 5px;
}

strong {
	font-weight: 900;
	text-transform: uppercase;
}

.caption {
	font-style: italic;
	font-size: 0.8em;
	margin-top: 8px;
}

.break {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.inset{
	color: #4f0906;
	background-color: #f0ca7f;
	padding: 20px;
}

#header {
	width: 100%;
	background-color: #f0ca7f;
	padding-top: 50px;
	padding-bottom: 50px;
}

#intro {
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 50px;
}

#contentColumn {
	width: 900px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#origRecipe {
	width: 400px;
	float: right;
	margin: 0 -50px 20px 20px;
	text-align: center;
}




.container{
  position: relative;
}

.scrollChart {
  margin-bottom: 50px;
  margin-top: 50px;
  position: absolute;
}

#filterChart {
  margin-left: -50px;
  margin-right: 350px;
  width: 600px;
}

#ingredientsChart {
  margin-left: 350px;
  margin-right: -50px;
  width: 600px;
}

#filterSections{
  width: 300px;
  margin-left: 600px;
}

#ingredientsSections{
  width: 300px;
  margin-right: 600px;
}

.scrollSections div{
  margin-bottom: 250px;
}

.scrollSections div:last-child{
  margin-bottom: 50px;
}

.graph-scroll-fixed .scrollChart{
  position: fixed;
  top: 0;
}

.graph-scroll-below .scrollChart{
  bottom: 0px;
  top: auto;
}

.filterLabel {
	font-size: 0.8em;
}

.filterLabel2 {
	font-size: 0.8em;
}

.big {
	font-size: 1.1em;
}

.filterLine {
	stroke-width: 1px;
	stroke: black;
}
.filterLine2 {
	stroke-width: 1px;
	stroke: black;
}

