
      body {
        margin: 0;
        color: #d0d0d0;
        background-color: #2A2C39;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 200;
        font-size: 17px;
        line-height: 17px;
      }
      
      #map-holder {
        width: 100vw;
        height: 100vh;
      }

      svg rect {
        fill: #2A2C39;
      }

      .country{
        stroke: #2A2C39;
        fill: #d0d0d0;
      }

      .countryLabel{
        display: none;
      }

      .countryName{
        fill: #FFFAFF;
      }

      .countryBg{
        fill: #30BCED;
      }

