
      body {
        margin: 0;
        color: #d0d0d0;
        background-color: #2A2C39;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 200;
        font-size: 17px;
        line-height: 17px;
      }
      
      #map-holder {
        width: 100vw;
        height: 100vh;
      }

      svg rect {
        fill: #2A2C39;
      }

      svg .country{
        stroke: #2A2C39;
        fill: #d0d0d0;
      }

      svg .countryLabel{
        display: none;
      }

      svg .countryName{
        fill: #FFFAFF;
      }

      svg .countryBg{
        fill: #30BCED;
      }

      svg .arrow{
        stroke: #30BCED;
      }
      
      svg .randomCountryName{
        fill: #30BCED;
        font-size: 15px;
      }

      svg .countriesBG{
        fill: rgba(42,44,57,0.7);
      }
