body {
	background-color: #323232;
	background-color: #cccccc;
	color: #808080;
	font-family: 'Trirong', georgia, times, serif;
	font-family: tahoma;
	font-weight: 200;
	font-size: 18px;
}

svg {
	margin-bottom: 100px;
}

svg text {
	font-size: 9px;
	font-family: 'Trirong', georgia, times, serif;
}

svg .node text {
	font-size: 16px;
	font-family: 'Trirong', georgia, times, serif;
	fill: #808080;
}

svg .season{
	font-size: 14px;
	font-family: 'Trirong', georgia, times, serif;
	fill: #808080;
}

svg .node--internal text-xxx {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

svg .link {
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 1.0px;
}

svg #tribe-1 path{
/*	fill: #597b81;
*/	stroke: #edefef;
	stroke-width: 1.0px;
}

svg text{
	text-transform: uppercase;
}

