/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	background-color: #363537;
/*	background-color: #333333; */
	font-family: 'Open Sans Condensed', sans-serif;
}

img {
	max-width: 100%;
}

video {
	max-width: 100%;
}

a {
	color: #FFFFFF;
}

h1, h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2.5em;
	margin-bottom: 8px;
}

h1 a {
	text-decoration:none;
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.8em;
	padding: 24px;
}

h3 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4em;
	padding: 24px;
}

h3 a {
	text-decoration:none;
}

#contact {
	background-color: #08BDBD;
/*	background-color: #00A6FF; */
	padding: 18px 18px 8px 18px ;
	color: #FFFFFF;
}

#datavisContact {
	background-color: #EAC435;
	padding: 18px 18px 8px 18px ;
	color: #FFFFFF;
}

header {
	text-align: center;
	margin: auto;
}

header p {
	margin-bottom: 8px;
}

#portrait{
	width: 100px;
	height: 100px;
	margin-bottom: 8px;
}

#summary {
    margin-bottom: 12px;
    max-width: 350px;
	margin: auto;
}
#summary p{
	line-height: 120%;
}
hgroup li {
	display: inline;
}

hgroup li img{
	width: 32px;
	height: 32px;
	margin: 0 8px 0 0;
}


.video-play {
	cursor: pointer;
	position: absolute;
	z-index: 10;
}



#highlights {
    clear: both;	
}

#social {
    clear: both;	
}


#more, #all, #loading {
    clear: both;
    margin: 0 0 20px 0;
    text-align:center;	
	font-size: 1.4em;
    text-transform: uppercase;
}

#more {
	cursor: pointer;
}

#loading {
	display: none;
}

/* project: invidiual sections within projects section */
.project {
    clear: both;	
/*    box-shadow: 0 0 6px rgba(0,0,0,0.27); */
}

.project a {
	font-weight: bold;
}

.project .ext {
	font-weight: normal;
}

.highlight {
    clear: both;	
}

.highlight a {
	font-weight: bold;
}
.sectionTitle {
	background-color: #01161E;
	background-color: #011627;
	/* background-color: #333333; */
}

.projectTitle {
	cursor: pointer;
	background-color: #E40066;
/*	background-color: #ffd900; */
}

.highlightTitle {
	cursor: pointer;
	background-color: #345995;
/*	background-color: #17e004; */
}

.projectDesc {
	padding: 24px;
	display: none;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.27);
}

.projectDesc:after {
  content: "";
  display: table;
  clear: both;
}

.projectDesc p{
	line-height: 120%;
	margin-bottom: 10px;
}

.projectDesc img{
    float: left;
    width: 150px;
    margin: 0 24px 20px 0;
}

/* dateText: area of social post showing date posted and sharing options */
.dateText {
	color: #fff;
	background-color: #FB4D3D;
/*	background-color: #FF5900; */
	padding: 24px;
	font-size: 1.4em;
}

.dateText img{
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.share {
	float: right;
}

/* item: individual masonry block */
.item{
	width: 100%; 
	color: #333;
	margin: 0 0 20px 0;
	background: #fff;
    overflow: auto;
}

/* photoImg: images within the social feed that have click disabled on mobile devices, on larger screens click triggers lightbox */
.photoImg{
	pointer-events: none;
	cursor: default;
}

.item p{
	margin: 24px;
}

.facebook-link{
	border-top: 1px solid #FB4D3D;
	border-bottom: 1px solid #FB4D3D;
	margin: 24px;
	overflow: auto;
}

.facebook-link img{
	float: left;
	margin-right: 15px;
}

.facebook-link a{
	color: #333;
	text-decoration: none;
}

.facebook-link h4{
	font-weight: 700;
	line-height: 1em;
	margin: 15px 0 0 0;
}

.facebook-link p{
	margin: 0 0 15px 0;
}

.facebook-caption{
	margin: 0 0 15px 0;
}




@media screen and (min-width: 600px){	
/* For an 800 pixel screen we want the 2 columns to have a width of 390 px with a 20px gap between them*/
	#contact {
		padding: 18px;
	}
	header {
		text-align: left;
		margin-left: 0;
	}
	#portrait{
		width: 130px;
		height: 130px;
		margin-top: 5px;
		margin-right: 18px;
		float: left;
	}
	#summary{
		max-width: 550px;
		margin-left: 0;
	}
	hgroup li img{
		width: 40px;
		height: 40px;
	}

	#container{
		width: 102.5%; /* (390*2 + 20*2)/800 */
	}
	.item {
		width: 47.560975609756%; /* 390/(390*2 + 20*2) */
		margin-right: 2.439024390244%; /* 20/(390*2 + 20*2) */
		margin-bottom: 2.439024390244%; /* 20/(390*2 + 20*2) */
	}
}	

@media screen and (min-width: 800px){	
/* photoImg: images within the social feed that have click disabled on mobile devices, on larger screens click triggers lightbox */
	.photoImg{
		pointer-events: auto;
		cursor: auto;
	}
}	

@media screen and (min-width: 1000px){	
	#portrait{
		width: 150px;
		height: 150px;
	}
	#summary {
		max-width: 900px;
	}
	#summary p{
		max-width: 550px;
	}
	#summary p{
		font-size: 1.4em;
	}
	hgroup ul{
	   position:absolute;
	   right: 18px;
	   top: 29px;
	   width: 320px;
	   text-align: right;
	}

	hgroup li img{
		width: 60px;
		height: 60px;
		margin: 0 16px 16px 0;
	}

	hgroup h1{
		font-size: 4.3em;
	}

	#projects {
		float: left;
		clear: none;
		width: 33%;
	}


	#highlights {
		float: left;
		clear: none;
		width: 33%;
	}
	
	#social {
	    float: right;	
		clear: none;
		width: 34%;
	}
	.projectDesc {
		display: block;
		box-shadow: none;
	}	
	.projectTitle{
		pointer-events: none;
		cursor: default;
	}
	.highlightTitle{
		pointer-events: none;
		cursor: default;
	}

	.item{
		width: 100%; 
		margin: 0 0 20px 0;
	}

}

@media screen and (min-width: 1400px){	
	#projects {
		width: 25%;
	}
	
	#highlights {
		width: 25%;
	}
	
	#social {
		width: 50%;
	}
	#container{
		width: 102.5%; /* (390*2 + 20*2)/800 */
	}
	.item {
		width: 47.560975609756%; /* 390/(390*2 + 20*2) */
		margin-right: 2.439024390244%; /* 20/(390*2 + 20*2) */
		margin-bottom: 2.439024390244%; /* 20/(390*2 + 20*2) */
	}
}

@media screen and (min-width: 1800px){	
	#projects {
		width: 20%;
	}
	
	#highlights {
		width: 20%;
	}
	
	#social {
		width: 60%;
	}
	/* Switch to 3 columns of social. For an 1600 pixel screen we want the 3 columns to have a 20px gap between them*/
	/* Social section has width of 0.75*1600 = 1200 */
	#container{
		width: 101.666666666666667%; /* 1220/1200 */
	}
	.item {
		width: 31.693989071038%; /* ((1200-40)/3)/1220 */
		margin-right: 1.639344262295%; /* 20/1220 */
		margin-bottom: 1.639344262295%; /* 20/1220 */
	}
}